/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'BAM_BASERECALIBRATOR_APPLYBQSR_GATK:BASERECALIBRATOR_1ST_PASS' {
        ext.prefix = { "${meta.id}.first_pass" }
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }

    withName: 'BAM_BASERECALIBRATOR_APPLYBQSR_GATK:BASERECALIBRATOR_2ND_PASS' {
        ext.prefix = { "${meta.id}.second_pass" }
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }

    withName: 'BAM_BASERECALIBRATOR_APPLYBQSR_GATK:APPLYBQSR' {
        ext.prefix = { "${meta.id}.bqsr" }
        ext.suffix = { 'bam' }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/preprocessing/bqsr" },
            pattern: "*.{bam,bai}"
        ]
    }

    withName: 'BAM_BASERECALIBRATOR_APPLYBQSR_GATK:ANALYZECOVARIATES' {
        ext.prefix = { "${meta.id}.bqsr" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reports/bqsr" },
            pattern: "*.{pdf}"
        ]
    }

}
