/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'BAM_COLLECT_METRICS_MOSDEPTH:MOSDEPTH' {
        ext.args   = {
            [
                params.coverage_metrics_mins      ? "--thresholds ${params.coverage_metrics_mins}"    : '',
                params.coverage_metrics_intervals ? "--quantize ${params.coverage_metrics_intervals}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/reports/coverage_metrics/${meta.sample}" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,bed,csi,gz}"
        ]
    }

}
