/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// PREPARE_GENOME

process {

    withName: 'GUNZIP_FASTA' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/genome" },
            pattern: "*.{fasta,fa}",
            saveAs: { params.save_reference ? it : null }
        ]
    }

    withName: 'BWA_INDEX' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/index" },
            pattern: "bwa",
            saveAs: { params.save_reference && it != 'versions.yml' ? it : null }
        ]
    }

    withName: 'SAMTOOLS_FAIDX' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/genome" },
            pattern: "*.fai",
            saveAs: { params.save_reference ? it : null }
        ]
    }

    withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/genome" },
            pattern: "*.dict",
            saveAs: { params.save_reference ? it : null }
        ]
    }

    withName: 'SORT_INDEX_DBSNP|SORT_INDEX_INDELS|SORT_INDEX_SNPS' {
        ext.args   = { "--output-type z --write-index=tbi" }
        ext.prefix = { "${meta.id}.sorted.indexed" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/known_sites" },
            pattern: "*.{vcf,gz,tbi}",
            saveAs: { params.save_reference ? it : null }
        ]
    }

    withName: 'ENSEMBLVEP_DOWNLOAD' {
        ext.args   = { '--AUTO c --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE' }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reference/vep_cache" },
            saveAs: { params.save_reference && it != 'versions.yml' ? it : null }
        ]
    }

}
