/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'FASTP' {
        ext.args   = [
            params.skip_adapter_trimming    ? '--disable_adapter_trimming'                       : '',
            params.trim_front1 > 0          ? "--trim_front1 ${params.trim_front1}"              : '',
            params.trim_front2 > 0          ? "--trim_front2 ${params.trim_front2}"              : '',
            params.trim_tail1 > 0           ? "--trim_tail1 ${params.trim_tail1}"                : '',
            params.trim_tail2 > 0           ? "--trim_tail2 ${params.trim_tail2}"                : '',
            params.trim_poly_g              ? '--trim_poly_g'                                    : '',
            params.split_fastq_reads > 0    ? "--split_by_lines ${params.split_fastq_reads * 4}" : '',
            params.trim_min_read_length > 0 ? "--length_required ${params.trim_min_read_length}" : ''
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/reports/trim/${meta.sample}" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,json,log}"
            ],
            [
                path: { "${params.outdir}/preprocessing/" },
                mode: params.publish_dir_mode,
                pattern: "*.fastp.fastq.gz",
                saveAs: { params.save_trimmed_fastq ? "trim/${meta.sample}/${it}" : null }
            ]
        ]
    }

}
