/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for assays
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines specific values for assays: 'wgs' and 'other'
    'other' = wxs, panel
----------------------------------------------------------------------------------------
*/

params {
    assays {
        'wgs' {
            skip_alignment_metrics      = false
            skip_coverage_metrics       = false
            skip_recalibration_metrics  = true
            coverage_metrics_mins       = '1,10,20,30'
            coverage_metrics_intervals  = '0:1:4:100:200'
            use_genomicsdb              = true
        }
        'other' {
            skip_alignment_metrics      = false
            skip_coverage_metrics       = false
            skip_recalibration_metrics  = false
            coverage_metrics_mins       = '1,2,30,50,100,150,200'
            coverage_metrics_intervals  = '1:30:100:200'
            use_genomicsdb              = false
        }
    }
}
